@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --white: #fff;
  --blue-light: #cddeee;
  --blue-gray: #6699cc;
  --blue-dark: #1e1e2c;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* 1rem == 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  background: var(--blue-light);
  color: var(--primary);
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 2rem;
}

header {
  background: var(--blue-dark);
  width: 100%;
  padding: 4rem;
  text-align: center;
}

/* === Links === */

.links {
  font-size: 2.2rem;
}

.links a {
  color: var(--white);
  position: relative;
}

.links a + a {
  margin-left: 3.2rem;
}

.links a.active {
  font-weight: bold;
}

.links a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -0.4rem;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* === CARD === */
.card {
  width: 80vw;
  max-width: 100rem;
  margin: 5rem auto;
  min-height: 40rem;
  background: var(--white);

  display: grid;
  grid-template-columns: 2fr 3fr;

  box-shadow: 4px 8px 10px var(--blue-dark);

  animation: getIn 500ms ease-in-out;
}

@keyframes getIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
  }
}

/* == Details == */
.details {
  padding: 1.6rem 3.2rem;
}

.details h3 {
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  font-weight: bold;
  color: var(--blue-gray);
}

.details .detail_item {
  padding: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.157);
}

.details .detail_item:first-child {
  border: none;
}

.detail_item div:nth-child(1) {
  font-weight: 100;
  font-size: medium;
  padding-bottom: 0.2rem;
}

.detail_item div:nth-child(2) {
  font-weight: 500;
  font-size: 2.2rem;
}

.detail_item div:nth-child(2) span {
  display: inline-block;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
  border-radius: 1.6rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--blue-light);

  font-size: 1.6rem;
  color: var(--blue-dark);
  text-transform: uppercase;
}

/* === FORM === */
/*
input {
  width: 100%;
  outline: none;
}

input[type="radio"] {
  width: initial;
  margin-right: 0.4rem;
}
*/
