{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/10553730/500x500) no-repeat"></section>
        <section class="details">Detalhes</section>
    </div>
{% endblock content %}